/*GENERAL STYLE*/
@import url(https://allfont.es/allfont.css?fonts=roboto-condensed);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
}

body{
    overflow-x: none;


}

/*NAVBAR STYLE*/

nav img{
    width: 150px;
    height: 6vh;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

nav{
    
    background: #081a27;
    padding: 2.2rem 1rem 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    border-bottom: 2px dashed #BFDD3D ;
}

.video_background {    
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.container{
 width: 100%;
 margin: 0 auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: .5s;
}

nav ul li:nth-child(3){
    animation-delay: 1s;
}

nav ul li:nth-child(4){
    animation-delay: 1.5s;
}

nav ul li:nth-child(5){
    animation-delay: 2s;
}

nav ul li a{
    text-decoration: none;
    color:#cb3040;
    padding: 1rem 0;
    margin: 0 2rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:  #BFDD3D ;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #c6c8c4;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}
@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0) ;
    }
}

/*MEDIA QUERY*/
@media screen and (max-width: 768px){

    .ham{
       display: block;
       position: absolute;
       top: 15px;
       right: 25px;
       transition: 0.2s 0.1s;
   }
   
   .ham:hover{
       transform: rotate(360deg);
   }

   nav{
    flex-direction: column;
    align-items: center;
    padding-top:25px 0; 
}

nav ul{
    background: #081a27;
    flex-direction: column;        
    align-items: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    display:none;
    opacity: 0;
}

nav ul li{
    width: 100%;
    text-align: center;
    padding: 10px;
}
}

@keyframes showMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
nav ul.activate{
    display:flex;
    animation: showMenu 500ms ease-in-out both;
}

.br-1.animated{
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animated{
    opacity: 0;
}

.br-3.animated{
    transform: rotate(45deg) translate(-10px, -8px);
}

/* STYLE HEADER-VIDEO*/
.section-video{
    position: relative;
    overflow: hidden;
    outline: 1px solid #fff;
    height: 100vh;

}

.header{
    visibility: visible;
    position: relative;
    height: 100vh;
}

.video-header{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

/* CONTENT MAIN*/
.container-main{ 
    background-image: linear-gradient(to bottom, #081a27, #092132, #0a283d, #0b2f49, #0d3655);
    position: relative;
    z-index: 2;
    transform: skew(0,-2deg); 
}

.section-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px dashed #BFDD3D;
}

.titles{
    font-size:  30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #BFDD3D;
    border-top: 2px solid #BFDD3D;
    padding: .5rem 0;
    display: inline-block;
    margin: 7rem;
    color:#cb3040;
}

.p-subtext{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:#BFDD3D;
    letter-spacing: 2px;
    position: relative;
    margin: 3rem 0 7rem 0;
}
section .container-card a{
    text-decoration: none;
}

.img-text-main{
    margin-top: 2rem;
    text-align: center;
}

.img-clib{
  width: 150px;
  text-align: center;
}

.img-shop{
    width: 208px;
    text-align: center;
  }

.img-blog{
    width: 150px;
}

a{
    text-decoration: none;
}
/* CONTENT ARTICLES */

.container-tittle{
    text-align: center;
}

.texts-articles{   
    background-image: linear-gradient(to bottom, #081a27, #092132, #0a283d, #0b2f49, #0d3655);
    text-align: center;
    border-top: 2px dashed #BFDD3D;
    position: relative;
    z-index: 2;
    transform: skew(0,-2deg);
}

.p-subtext-articles{
    font-size: 2rem;
    text-transform: uppercase;
    color:#BFDD3D;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 1rem;
}

.container-sliders{
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}


/* STYLE SLIDE */

.slider{
    width: 45%;
    overflow: hidden;
    /*margin: 0 2rem 7rem 2rem;*/
    transition: all 0.5s;
}

.blog-post-img ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate;
}

.blog-post-img li{
    width: 100%;
    list-style: none;
}


@keyframes slide {
    0%  {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
}

 /* CARDS MEDIA QUERY STYLE */

@media screen and (max-width: 1068px){

    .card-slider{
        max-width: 80rem;
    }

    .slider{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){

    .card-slider{
       max-width: 70rem;
    }
}

@media screen and (max-width: 768px){

    .card-slider{
        padding: 2.5rem;
        flex-direction: column;
    }

    .slider{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}
/*SHOP STYLE*/
.img-shops{
    width: 150px;
    height: 150px;
}

.container-img-shops{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.card-shop{
    margin: 3rem;
}

.much-more{
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
    color:#BFDD3D;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 7rem;
    margin-right: 5rem;
}

/*BLOG STYLE*/
.container-blog{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: whitesmoke;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 3rem 0 7rem 0;
    transform: skew(0,2deg);
}
.img-blogs{
    width: 100%;
}


.blog-post-img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    position: relative;
    transform: skew(0, -2deg) translateX(-8rem);
}

.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog-post-img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(18, 42, 63, 0.8), #627024a3);
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
}

.blog-post-date span{
    display: block;
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
    text-align: left;
}

.blog-post-title{
    margin: 1.5rem 0 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #BFDD3D;
    letter-spacing: 2px;
    position: relative;
    text-align: left;
}

.blog-post-text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
}

.blog-post-info{
    margin-left: -6rem;
}

.blog-post-cta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#fff;
    background: linear-gradient(to right, #BFDD3D, #627024);
    text-decoration: none;
}

.blog-post-cta:hover{
    background-image: linear-gradient(to right, #627024 0%, #BFDD3D 100%);
}

.video-olympic{
    transform: skew(0, 2deg);
}

.games-video{
    width: 70%;
    margin-bottom: 7rem
}
/* BLOG MEDIA QUERY STYLE*/

@media screen and (max-width: 1068px){

    .blog-post{
        max-width: 80rem;
    }

    .blog-post-img{
        min-width: 30rem;
        max-width: 30rem;
    }

    .blog-post-info{
        margin: auto;
    }
}

@media screen and (max-width: 868px){

    .blog-post{
       max-width: 70rem;
    }
}

@media screen and (max-width: 768px){

    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post-img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}

/*FOOTER STYLE */
footer{
    position: relative;
    overflow: visible;
    z-index: 1;
    transform: skew(0,-2deg);
    padding-top: 10vh;
    background: #081a27;
    border-top: 2px dashed #BFDD3D;
}

.content-footer{
    width: 100%;
    transform: skew(0, 2deg);
}

.content-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.colum1{
   max-width: 400px;
   margin: 10px 23px 0;   
}

.h2-footer{
    font-size: 2rem;
    text-align: left;
    color: #BFDD3D;
    margin: 0 0 2rem 2.5rem;
}

.p-footer{
    font-size: 14px;
    color: #6b6a6a;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    margin: 10px 23px 0;
    border-left: 0.2rem solid #6b6a6a
}

.colum2 .row{
    margin-top: 20px;
    display:flex;
}

.row2 label{
    font-size: 1.4rem;
    color: #6b6a6a;
    margin: 0px 0 3rem 2.5rem;
    max-width: 123px;
}

.row label{
    margin: 1rem -1.5rem 0rem;
    color: #6b6a6a;
    font-size: 1.4rem
}

.row1 label{
    margin-top: 10px;
    margin-left: 10px; 
}

.colum3{
    max-width: 400px;
    margin: 10px 23px 0;
    border-left: 0.2rem solid #6b6a6a;
}

.row2{
    display: flex;
}

.content-footer2{
    width: 100%;
    background-color: rgb(24, 23, 23);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:#6b6a6a;
}

.copyright{
    color: #6b6a6a;
}

.span-names{
    text-decoration: none;
}

.information a{
    text-decoration: none;
    color:#6b6a6a;
}

.social-media{
    width: 36px;
    height: 36px;
    margin: 0px 2.5rem 0rem;
}

.social-media:hover{
   background-color:#BFDD3D;
}

/*STYLE FORM*/
.content-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-around;
}

form{
    background: whitesmoke;
    padding: 6rem;
    margin-bottom: 4rem;
}

.red{
    color:#627024;
}

.input-form{
    background: none;
    font-size: 1.5rem;
    padding: 4px 1px 0;
    border: none;
    margin: 9px 9px 12px;
    border-bottom: 2px solid #081a27;;
    color: #081a27;
}

.text-form{
    font-size: 1.5rem;
    font-weight: bold;
    color: #627024;
}

.textArea{
    border-radius: 2px;
    width: 247px;
    height: 93px;
    font-family: "Roboto Cn", sans-serif;
    margin: 2rem 0 2.5rem;
    font-size: 1.3rem;
    padding: 8px;
    border: 2px solid #081a27;;
}

.button-send{
    float:right;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #BFDD3D, #627024);
    border: none;
}

.button-send:hover{
    background-image: linear-gradient(to right, #627024 0%, #BFDD3D 100%);
}

.text-send{
    display: none;
}
.textArea{
    border-radius: 2px;
    width: 247px;
    height: 93px;
    font-family: "Roboto Cn", sans-serif;
    margin: 2rem 0 2.5rem;
    font-size: 1.3rem;
    padding: 8px;
    border: 2px solid #081a27;;
}

.button-send{
    float:right;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #BFDD3D, #627024);
    border: none;
}

.button-send:hover{
    background-image: linear-gradient(to right, #627024 0%, #BFDD3D 100%);
}








